api = "0.2"

[buildpack]
  id = "paketo-buildpacks/npm-start"
  name = "Paketo Npm Start Buildpack"
  homepage = "https://github.com/paketo-buildpacks/npm-start"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"

[metadata]
  include_files = ["bin/run","bin/build","bin/detect","buildpack.toml"]
  pre_package = "./scripts/build.sh"
